<footer class="footer">
    <div class="wrap">
        <div class="top">
            <div class="links">
                <a href="/page/?M2_IDX=32969" class="link">글천개 콘텐츠</a>
                <span class="deco">|</span>
                <a href="/page/?M2_IDX=32970" class="link">서비스</a>
                <span class="deco">|</span>
                <a href="/board/list.php?M2_IDX=32973" class="link">포트폴리오</a>
                <span class="deco">|</span>
                <a href="/form/add.php?M2_IDX=33383" class="link">CONTACT US</a>
            </div>

            <div class="socials">
                <a href="https://www.youtube.com/channel/UCSPcmgcYhH-77r22DWxrmcQ" class="social" target="_blank">
                    <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdfca3db6e0.png" alt="">
                </a>
                <a href="https://blog.naver.com/chibi52" class="social" target="_blank">
                    <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdfca3db6e1.png" alt="">
                </a>
                <a href="https://www.instagram.com/flyhighssc" class="social" target="_blank">
                    <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdfca3db6e2.png" alt="">
                </a>
            </div>
        </div>

        <div class="contents">
            <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdfca3db6df.svg" alt="" class="logo">

            <div class="infos-wrap">
                <div class="infos">
                    <a href="#" class="info">
                        <p class="body">개인정보처리방침</p>
                    </a>
                    <span class="deco">|</span>
                    <a href="#" class="info">
                        <p class="body">이메일무단수집거부</p>
                    </a>
                </div>
                <div class="infos">
                    <div class="info">
                        <h3 class="title">주소</h3>
                        <p class="body">서울시 서울구 서울동 123-45</p>
                    </div>
                    <div class="info">
                        <h3 class="title">전화번호</h3>
                        <p class="body">010-5894-1332</p>
                    </div>
                    <div class="info">
                        <h3 class="title">이메일</h3>
                        <p class="body">support@gul1000.com</p>
                    </div>
                </div>
                <p class="copyright">
                    Copyright ⓒ 2024 geul1000gae.All rights reserved.
                </p>
            </div>

        </div>
    </div>
</footer>