<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<header class="header">
    <div class="wrap">
        <a href="/">
<!--            <img src="./imgs/logo-white.svg" alt="" class="logo">-->
            <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdf29f8067c.svg" alt="" class="logo">
        </a>

        <div class="links-wrap">
            <div class="links">
                <a href="/page/?M2_IDX=32969" class="link">글천개 콘텐츠</a>
                <a href="/page/?M2_IDX=32970" class="link">서비스</a>
                <a href="/board/list.php?M2_IDX=32973" class="link">포트폴리오</a>
                <a href="/form/add.php?M2_IDX=33383" class="link">CONTACT US</a>
            </div>
        </div>


        <button class="mobile btn-toggle">
<!--            <img src="./imgs/menu.svg" alt="" class="inactive">-->
            <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdf29f8067d.svg" alt="" class="inactive">
<!--            <img src="./imgs/close.svg" alt="" class="active">-->
            <img src="https://cdn01.nxcloud.biz/web/2487/menu_02/66bdf29f8067b.svg" alt="" class="active">
        </button>
    </div>
</header>

<script>
    $("#header .btn-toggle").click(function (){
        $(".header").toggleClass("active");
    });
</script>